/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Reset Css
==========================================
*/
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/*
==========================================
    HEADER STYLE;
==========================================
*/
.logo img {
	margin-bottom: 21px;
}
.header-main {
    position: absolute;
    z-index: 99;
    width: 100%;
}

.header-main:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background: #393838;
    opacity: .49;
    z-index: -1;
}

.main-menu ul li {
    float: left;
    margin-left: 25px;
}

.main-menu ul li a {
    color: #fff;
    font-family: raleway;
    text-transform: uppercase;
    display: inline-block;
    padding: 28px 0px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.main-menu ul {
    float: right;
}

.main-menu ul {
	padding: 20px 0;
	margin-left: 219px;
}

.logo img {
    margin-top: 23px;
}

.main-menu ul li a:hover {
    color: #fe320a;

}

/*
==========================================
    HEADER STYLE END
==========================================
*/